# https://prettier.io/docs/en/ignore.html
# > By default prettier ignores files in version control systems directories (".git", ".svn" and ".hg") and node_modules (if --with-node-modules CLI option not specified)